footer {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 14px;
  position: relative;


  &::before {
    position: absolute;
    content: "";
    margin-top: -30px;
    width: 1200px;
    height: 2px;
    background: #e5e5e5;
  }
}

.footer__button {
  height: 40px;
  width: 150px;
  background: $seaction2;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  color: $color-white;
  border: none;

}

.footer__text {
  font-family: 'Montserrat';
  font-size: 14px;
}

.Laaqiq {
  color: $pink;
  text-decoration: none;
}

.footer__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__sign-form {
  ;
}

input {
  height: 40px;
  width: 228px;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
}
