.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 0.0625rem solid #e5e5e5;
  padding-bottom: 0.625rem;
}
.footer__copirite {
  padding-top: 0.5rem;
  font-size: 0.875rem;
  font-family: var(--font-montserrat);
  color: rgb(51, 51, 51);
}
.footer__subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.625rem;
}
.subscribe-form__mail-input {
  height: 2.5rem;
  width: 14.375rem;
  padding-left: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
  background-color: rgb(255, 255, 255);
}
.subscribe-form__mail-input::-webkit-input-placeholder {
  font-size: 0.9375rem;
  font-family: var(--font-roboto);
  color: rgb(204, 204, 204);
  font-style: italic;
  line-height: 1.6;
}
.subscribe-form__mail-input::-moz-placeholder {
  font-size: 0.9375rem;
  font-family: var(--font-roboto);
  color: rgb(204, 204, 204);
  font-style: italic;
  line-height: 1.6;
}
.subscribe-form__mail-input:-ms-input-placeholder {
  font-size: 0.9375rem;
  font-family: var(--font-roboto);
  color: rgb(204, 204, 204);
  font-style: italic;
  line-height: 1.6;
}
.subscribe-form__mail-input::-ms-input-placeholder {
  font-size: 0.9375rem;
  font-family: var(--font-roboto);
  color: rgb(204, 204, 204);
  font-style: italic;
  line-height: 1.6;
}
.subscribe-form__mail-input::placeholder {
  font-size: 0.9375rem;
  font-family: var(--font-roboto);
  color: rgb(204, 204, 204);
  font-style: italic;
  line-height: 1.6;
}

.subscribe-form__btn {
  height: 2.5rem;
  width: 9.375rem;
  border: none;
  background-color: var(--color-blue);
  color: #fff;
  font-size: 0.875rem;
  font-family: var(--font-montserrat);
  font-weight: bold;
  text-transform: uppercase;
}
.subscribe-form__btn:hover,
.subscribe-form__btn:focus {
  background-color: var(--color-pink);
}
