.team {
  padding-top: 2.875rem;
  padding-bottom: 5.2rem;
}
.team__text {
  max-width: 61.25rem;
  margin: 2.125rem auto 5.5rem auto;
}
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.team-list__item {
  -ms-flex-preferred-size: 23.625rem;
  flex-basis: 23.625rem;
}
.team-list__img-wrap {
  position: relative;
}
.team-list__img-owerlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(243, 129, 129, 0.9)),
    to(rgba(252, 227, 138, 0.9))
  );
  background: -o-linear-gradient(
    rgba(243, 129, 129, 0.9) 0%,
    rgba(252, 227, 138, 0.9) 100%
  );
  background: linear-gradient(
    rgba(243, 129, 129, 0.9) 0%,
    rgba(252, 227, 138, 0.9) 100%
  );
  opacity: 0;
}

.team-list__img-owerlay:hover,
.team-list__img-owerlay:focus {
  opacity: 1;
  -webkit-transform: translate(-0.625rem, -0.625rem);
  -ms-transform: translate(-0.625rem, -0.625rem);
  transform: translate(-0.625rem, -0.625rem);
  -webkit-box-shadow: 0.625rem 0.625rem 0 0 #95e1d3;
  box-shadow: 0.625rem 0.625rem 0 0 #95e1d3;
}
.team-list__coleg-name {
  margin: 0;
  padding: 1.75rem 0 0.625rem 0;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: center;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}
.team-list__coleg-position {
  margin: 0;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: rgb(153, 153, 153);
  font-style: italic;
}
.team-list__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
