section{
width: 1040px;
border: 1px solid gray;
margin: auto;
padding: 40px;
}

.header {

width: 40%;
margin: 20px auto 20px;
border: none;
}

button{
background: none;
margin-left: 20px;
border: none;
text-transform: uppercase;
color: rgba(98, 98, 98, 255);
}  

button:hover{
color: gray;

}

.img{
width: 480px;
height: 280px;
margin: auto;
overflow: hidden;
}

.main-box{
width: 100%

}

.box{
    display: inline-block;
    width: 49%;
}

h2{
    color: rgba(98, 98, 98, 255);
    
}

h3{
    color: rgba(98, 98, 98, 255);
}

p{
color: rgba(98, 98, 98, 255);
}

.btn{
width: 70px;
line-height: 30px;
margin: auto;
}

.btnTest{
width: 70px;



}