html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
:root {
  --color-pink: #f38181;
  --color-yel: #fce38a;
  --color-white: #eaffd0;
  --color-blue: #95e1d3;
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-kaushan: "Kaushan Script", cursive;
}
img {
  display: block;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 75rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  font-family: var(--font-montserrat);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
}
.btn__white {
  color: #ffffff;
  border: 2px solid #ffffff;
  display: block;
}
